* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

label {
  font-size: 12pt;
  padding: 5px;
  margin: auto;
  border: 2px solid #555;
  transition: .5s;
  border-radius: 4px;
}

label:hover {
  background-color: rgba(150, 150, 150, .5);
}

.input {
  display: none;
}

.upload {
  font-size: 12pt;
  width: 130px;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  background-color: rgb(220,54,92);
  color: white;
  transition: .5s ease;
}

.upload:hover {
  background-color: rgb(217, 23, 62);
  /*
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);

   */
}

div {
  margin: 0 auto;
}

form {
  display: inline;
}
